@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Pacifico&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: 0;
}

html, body{
  height: 100%;
}

#pagina{
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1980px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

button{
 cursor: pointer;
 border: none; 
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 178, 255);
}

header h1{
    font-style: Pacifico;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculadora{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.altura{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
}

.altura label{
    color: rgb(127, 178, 255);
}

#altura{
    border: 2px solid rgb(127, 178, 255);
    border-radius: 15px;
    height: 3rem;
    width: 15rem;
    text-align: center;
    font-size: 25px;
    background-color: rgba(37, 36, 36, 0.014);
}

.peso{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
}

.peso label{
    color: rgb(127, 178, 255);
}

#peso{
    border: 2px solid rgb(127, 178, 255);
    border-radius: 15px;
    height: 3rem;
    width: 15rem;
    text-align: center;
    font-size: 25px;
    background-color: rgba(37, 36, 36, 0.014);
}

.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.botoes button{
    border-radius: 15px;
    height: 3rem;
    width: 15rem;
}

.resultado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.resultado input{
    border-radius: 15px;
    height: 3rem;
    width: calc(30rem + 15px);
    border: 2px solid rgb(127, 178, 255);
    text-align: center;
    font-size: 25px;
    background-color: rgba(37, 36, 36, 0.123);
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.table{
    display: flex;
    align-items: center;
    width: calc(30rem + 15px);
}

table{
    border-collapse: collapse;
    width: calc(30rem + 15px);
    border: 2px solid rgb(127, 178, 255);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.titulos{
    background-color: rgb(127, 178, 255);
}