@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: 0;
}

html, body{
  height: 100%;
  background-color: rgb(241, 241, 241);
}

#pagina{
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1980px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

button{
 cursor: pointer;
 border: none; 
}

input{
  border: none;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(127, 255, 212, 0.397);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.altura{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.peso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.resultado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
